<a href="https://colab.research.google.com/github/Ohribird/Durk/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8/%ED%8A%9C%ED%94%8C/%EC%85%8B/%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#list
a = [1,2,3,4,5,6,7,7,8,9,4]  
  #  0 1 2 3 4 5 6 7 8 9 10
#negative indexing뒤에서부터 찾을땐 -1, -2 ,-3 - - - - 
#indexing --> 0부터 시작 
#슬라이싱   a[start:end] (단 end는 exclusive, 즉 포함안됨 )  print(a[0:3] --> 1,2,3)

print(a[:])  #첨부터 끝까지 
print(a[0:3:1]) #stepszie = 1 
print(a[0:3:1]) #stepsize = 2
print(a[::2]) #첨부터 끝까지 & stepsize = 2 
print(a[8:2:-1]) #뒤에서부터 


a[1] = 'two'   #리스트는 이렇게 바꾸기 가능 
a.append('four')  # 선수추가 
a.pop()  #마지막 하나 제거

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 4]
[1, 2, 3]
[1, 2, 3]
[1, 3, 5, 7, 8, 4]
[8, 7, 7, 6, 5, 4]
[1, 'two', 3, 4, 5, 6, 7, 7, 8, 9, 4]

In [ ]:
#tuple
b = (1,2,3) #tuple   **함수에서 리턴값이 여러개라면 튜플형태로 나온다 

#얘는  선수교체 사용 불가능   a[1] = 'two'처럼 
#append, pop 같은건 튜플에선 사용 불가능

In [4]:
#set   얘의 핵심은 중복데이터를 제거해주는거

c = {1,2,3,3,3,3} #set  
print(c)

{1, 2, 3}

In [ ]:
#dictionary
d = {'one':1, 'two':2}  # dict